body{
font-family:Segoe UI, Arial;
background:linear-gradient(135deg,#375e75,#2f4f70,#102d4e);
color:white;
display:flex;
justify-content:center;
align-items:center;
min-height:100vh;
margin:0;
text-align: center;
}

.app{
display:flex;
gap:25px;
align-items:flex-start;
}

.container{
display:flex;
gap:20px;
}

.add-area, .lista{
background:rgba(255,255,255,0.05);
backdrop-filter:blur(8px);
padding:55px;
border-radius:14px;
width:380px;
box-shadow: 10px 25px rgba(0,0,0,0.3);
}

h3{
color:#dfdee2;
margin-top:0;
}

input{
width:100%;
padding:10px;
margin:6px 0;
border:none;
border-radius:6px;
background:#ffffff2d;
color:white;
}

input::placeholder{
color:#ccc;
}

button{
padding:8px;
border:none;
border-radius:6px;
cursor:pointer;
font-weight:600;
transition:0.2s;
}

.addBtn{
width:100%;
background:#7E6BB5;
color:white;
}

.addBtn:hover{
background:#9381d9;
}

.calcBtn{
width:100%;
background:#252b3a;
color:rgb(240, 234, 234);
margin-top:5px;
}

.calcBtn:hover{
background:#78b496;
}

.item{
background:#ffffff10;
padding:8px;
border-radius:6px;
margin-bottom:6px;
display:flex;
align-items:center;
gap:6px;
}

.item span{
flex:1;
}

.item input{
width:80px;
background:#ffffff15;
}


.resultado{
margin-top:10px;
background:#00000030;
padding:10px;
border-radius:8px;
line-height:1.6;
}

